/patching/Patcher.exe
/patching/app
/patching/app.asar
/patching/app_patched.asar
/patching/Recompilation Patcher/.vs
/patching/Recompilation Patcher/Compiled
/patching/Recompilation Patcher/CompiledIntermediates
